name: First Workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v4

            - name: List and Read File
              run: |
                   echo "My first Github Actions Job - Re-running"
                   ls -ltra 
                   cat README.md